{{# partial "titulo" }}
    <title>Patitas - Login</title>
{{/partial}}

{{# partial "contenido" }}
    <div>
        <section class="seccion">
            <h2>Caracteristicas</h2>
            <table class="table-all hoverable card-4">
                <tr>
                    <th>Nombre</th>
                    <th>Es obligatoria</th>
                    <th>Tipo</th>
                    <th>Respuestas</th>
                    <th>Opciones</th>

                </tr>
                {{#caracteristicas}}
                <tr>
                    <td>{{Nombre}}</td>
                    <td>{{esObligatoria}}</td>
                    <td>{{Tipo}}</td>
                    <td>{{Respuestas}}</td>
                    <td>
                        <a id="editCaracteristica" class="boton boton-tabla editar" href="/caracteristicas/{{id}}">Editar</a>
                        <a id="elimCarac" class="boton boton-tabla eliminar" href="/caracteristicas/nueva">Eliminar</a>
                        <!-- TODO: Agregar comportamiento a los botones  -->

                    </td>
                </tr>
                {{/caracteristicas}}
            </table>
            <div>
                <a id="agregar" class="button" href="/caracteristicas/nueva">Agregar Caracteristica</a>

            </div>

        </section>


    </div>


{{/partial}}

{{> layout.html.hbs }}
