{{# partial "titulo" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <title>Patitas - Mis Mascotas</title>
{{/partial}}


{{# partial "contenido" }}
    <h1> Mis Mascotas </h1>
    <div style="text-align: center;">
        {{#each mascotas}}

            <div class="card">
                <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
                <div class="container">
                    <div style="position: relative; text-align: center; color: white;">
                        {{#if this.esPerro}}
                            <img src="https://i.imgur.com/y1oZwwL.png" id="perro" style="width:140px; padding: 20px;">
                        {{else}}
                            <img src="https://i.imgur.com/LOuHCl2.png" id="gato" style="width:144px;
                            padding-top: 14px; padding-bottom:26px;font-family: 'Raleway';padding-left: 27px;padding-right: 27px;">
                        {{/if}}
                        <div style="position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);color:white;font-size:larger;">{{this.apodo}}</div>
                    </div>

                    <p>Nombre: {{this.nombre}}</p>
                    <p>Edad: {{this.edad}}</p>
                    <p>Sexo: {{this.sexo}}</p>
                    <p>Tamaño: {{this.tamanio}}</p>
                    <p>Descripcion: {{this.descripcionFisica}}</p>

                    <div style="display: inline-block;" id="{{this.identificador}}"></div> <p></p>
                    <script>qrCode("{{this.identificador}}");</script>

                </div>
            </div>
        {{/each}}
    </div>
    <div>
        <a class="button" id="botonMascotas" href="/mascotas/nueva" style="display:block">Registrar Nueva Mascota</a>
    </div>


{{/partial}}

{{> layout.html.hbs }}